<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="CGreen.Properties.Settings.cgreenConnectionString"
        connectionString="Data Source=DESKTOP-D7N1NE2;Initial Catalog=cgreen;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
